.landing-page {
  &__container {
    min-height: 100vh;
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center;
  }

  &__photo {
    box-shadow: 2px 2px 2px 2px #c5a586;
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  &__about-me {
    width: 50%;
    right: 0;
    color: #7b7b7b;
    font-size: 28px;

    strong {
      font-family: "Caveat", cursive;
      font-size: 90px;
      color: #ffc2b4;
    }

    hr {
      border: 1px solid #99d9d9;
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing-page {
    &__container {
      min-height: 100vh;
      padding-top: 100px;
      flex-direction: column;
    }

    &__about-me {
      h1 {
        font-size: 50px;
      }

      strong {
        font-size: 70px;
      }

      p {
        font-size: 22px;
      }

      hr {
        width: 70%;
      }
    }
  }
}
