.landing-page {
  &__container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #eee9e3;
  }

  &__photo {
    width: 50%;
    left: 0;
    border-radius: 100%;
    box-shadow: 2px 2px 2px 2px #c5a586;
    width: 400px;
    height: 400px;
  }

  &__about-me {
    width: 50%;
    right: 0;
    color: #191819;
    font-size: 28px;

    strong {
      font-family: "Caveat", cursive;
      font-size: 70px;
    }
  }
}
