.projects {
  &__container {
    min-height: 100vh;
    padding-top: 100px;
    font-size: 2rem;

    h1 {
      font-family: "Caveat", cursive;
      font-size: 70px;
      color: #ffc2b4;
    }

    hr {
      border: 1px solid #99d9d9;
      width: 30%;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__figure-element {
    width: 25%;
    height: auto;
    padding: 20px;
    border: 1px solid #99d9d9;
    h3 {
      color: #f08e80;
    }
  }

  &__link {
    padding: 10px;
    color: white;
    background-color: #99d9d9;
    border: 1px solid #99d9d9;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
  }

  &__link:hover,
  &__link:focus {
    color: black;
  }

  &__item-image {
    width: 60%;
    height: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  &__item-image:hover {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
  }
}

@media only screen and (max-width: 768px) {
  .projects {
    &__container {
      h1 {
        font-size: 50px;
      }

      hr {
        width: 70%;
      }
      p {
        font-size: 22px;
      }
    }

    &__figure-element {
      width: 50%;
      height: auto;
      padding: 20px;
      border: 1px solid #99d9d9;
      h3 {
        color: #f08e80;
      }
    }
    &__item-image {
      width: 200px;
    }
  }
}
