.project {
  min-height: 100vh;
  padding-top: 100px;
  color: #7b7b7b;
  font-size: 22px;

  h1,
  h2 {
    font-family: "Caveat", cursive;
    font-size: 70px;
    color: #ffc2b4;
  }

  hr {
    border: 1px solid #99d9d9;
    width: 100%;
  }

  &__about {
    display: flex;
    flex-direction: row;
    text-align: center;

    div {
      padding: 40px;
    }

    ul {
      list-style-type: none;
    }

    .line {
      border: 1px solid #99d9d9;
      height: 500px;
      padding: 0;
    }
  }

  &__links li a {
    list-style-type: none;
    font-size: 27px;
    padding: 10px;
    text-decoration: none;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    &__about {
      display: flex;
      flex-direction: column;
      text-align: center;

      .line {
        height: 0;
      }
    }

    hr {
      width: 60%;
    }

    iframe {
      width: 350px;
      height: 350px;
    }
  }
}
