.footer {
  &__container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  &__navigation {
    display: block;
    padding: 10px 30px;
  }

  &__navigation-list {
    list-style: none;
    font-size: 19px;
    line-height: 5vh;
  }

  &__navigation-list a {
    text-decoration: none;
  }
}
