.footer {
  &__container {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 180px;
    height: 180px;
  }

  &__navigation {
    display: block;
    padding: 10px 30px;
  }

  &__navigation-list {
    list-style: none;
  }

  &__navigation-list a {
    text-decoration: none;
  }
}
