.hamburger {
  &__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }

  &__line {
    width: 30px;
    height: 2px;
    background-color: #000;
  }

  &__button:focus {
    outline: none;
  }
}
