.navigation {
  position: fixed;
  width: 100%;
  height: 62px;
  top: 0;
  background-color: #fdf0e6;

  &__btn a {
    font-family: "Caveat", cursive;
    text-decoration: none;
    color: #ffc2b4;
    font-size: 38px;
  }
  &__navbar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  &__navbar-items a {
    text-decoration: none;
    color: black;
  }

  &__navbar-items ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    display: flex;
    font-weight: 400px;
    font-size: 25px;
  }

  &__navbar-items li {
    padding: 0 0.5rem;
  }

  &__space {
    flex: 1;
  }

  &__navbar-items a:hover,
  &__navbar-items a:focus {
    font-weight: bolder;
    color: #7b7b7b;
  }
}

@media (max-width: 768px) {
  .navigation {
    &__navbar-items {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .navigation {
    &__hamburger {
      display: none;
    }

    &__btn {
      margin-left: 0;
    }
  }
}
