$orange: #ffc2b4;
$blue: #99d9d9;

.container {
  &__about {
    display: flex;
    div {
      flex: 1;
    }
    img {
      width: 100px;
    }
  }

  &__social-media {
    list-style: none;
    font-size: 30px;
    padding: 10px;

    li {
      display: inline-block;
      padding: 5px;
    }
  }
}
