.footer {
  &__container {
    min-height: 100vh;
    padding-top: 100px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__contact {
    color: #ffc2b4;
    font-size: 50px;

    h1 {
      font-family: "Caveat", cursive;
      font-size: 70px;
    }
    hr {
      border: 1px solid #99d9d9;
      width: 30%;
    }

    img {
      width: 300px;
      height: 300px;
    }
  }

  &__social-media {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  &__social-media li {
    list-style-type: none;
    display: inline-block;
    font-size: 90px;
    padding: 20px;

    a {
      color: #99d9d9;
    }

    a:hover,
    a:focus {
      color: #ffc2b4;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    &__contact {
      font-size: 25px;
    }

    &__row {
      flex-direction: column;
    }

    &__social-media li {
      font-size: 65px;
      padding: 10px;
    }

    &__img img {
      width: 300px;
      height: 300px;
    }
  }
}
