.footer {
  &__container {
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    font-size: 30px;
  }

  &__navigation {
    display: block;
    padding: 10px 30px;
  }

  &__navigation-list {
    list-style: none;
    font-size: 19px;
    line-height: 5vh;
  }

  &__navigation-list a {
    text-decoration: none;
  }
}
