.my-skills {
  &__container {
    min-height: 80vh;
    padding-top: 100px;
    border-top: 5px 3px 3px black;

    h1 {
      font-family: "Caveat", cursive;
      font-size: 70px;
      color: #ffc2b4;
    }

    hr {
      border: 1px solid #99d9d9;
      width: 30%;
    }
  }

  &__div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: #7b7b7b;
  }

  &__gif {
    width: 50%;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-self: center;
  }

  &__img-element {
    width: 89px;
    height: 89px;
  }
}
