.my-skills {
  &__container {
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 5px 3px 3px black;

    h1 {
      font-family: "Caveat", cursive;
      font-size: 70px;
      color: #ffc2b4;
    }

    hr {
      border: 1px solid #99d9d9;
      width: 30%;
    }
  }

  &__div {
    color: black;
    padding-bottom: 50px;
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__img-element {
    width: 110px;
  }

  &__btn {
    font-family: "Quicksand", sans-serif;
    padding: 20px;
    font-size: 28px;
    color: white;
    background-color: #99d9d9;
    border: 1px solid #99d9d9;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
  }

  &__btn:hover,
  &__btn:focus {
    color: black;
  }
}

@media only screen and (max-width: 768px) {
  .my-skills {
    &__container {
      h1 {
        font-size: 50px;
      }

      hr {
        width: 70%;
      }
    }
    &__gif img {
      height: 300px;
      width: 300px;
    }
  }
}
