@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.App {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  background-color: #fff8ef;
}
