.navigation {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  height: 78px;

  &__btn a {
    text-decoration: none;
    color: #000;
  }
  &__navbar {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
  }

  &__navbar-items a {
    text-decoration: none;
    color: #000;
  }

  &__navbar-items ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    display: flex;
    font-weight: 400px;
    font-size: 18px;
  }

  &__navbar-items li {
    padding: 0 0.5rem;
  }

  &__space {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .navigation {
    &__navbar-items {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .navigation {
    &__hamburger {
      display: none;
    }

    &__btn {
      margin-left: 0;
    }
  }
}
