.my-skills {
  &__container {
    min-height: 80vh;
  }
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
  }

  &__img-element {
    width: 89px;
    height: 89px;
  }
}
